Package: @@NAME@@
Version: @@VERSION@@
Section: devel
Depends: libnotify4, libnss3, gnupg, apt, libxkbfile1, libgconf-2-4, libsecret-1-0
Priority: optional
Architecture: @@ARCHITECTURE@@
Maintainer: Sourcegraph <help@sourcegraph.com>
Homepage: https://sourcegraph.com
Installed-Size: @@INSTALLEDSIZE@@
Provides: sourcegraph-@@NAME@@
Conflicts: sourcegraph-@@NAME@@
Replaces: sourcegraph-@@NAME@@
Description: Code connected. TODO(documentation)
